**Imports**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as geo

In [8]:
# set display widht and length

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 110)

In [5]:
# read in cmc data

calibration_samples = pd.read_csv('/Users/bibor/Hack_the_Bay/Data/cmcCalibrationSamples.csv')

In [6]:
calibration_samples.head()

,Date,Time,StationName,StationCode,Latitude,Longitude,GroupCode,SampleId,Bacteria Incubation Temperature,Bacteria Incubation Temperature Code,Bacteria Incubation Temperature Units,Bacteria Incubation Time,Bacteria Incubation Time Code,Bacteria Incubation Time Units,Dissolved Oxygen Sodium Thiosulfate Check,Dissolved Oxygen Sodium Thiosulfate Check Code,Dissolved Oxygen Sodium Thiosulfate Check Units,pH Calibration Temperature,pH Calibration Temperature Code,pH Calibration Temperature Units,pH Calibration Value (10),pH Calibration Value (10) Code,pH Calibration Value (10) Units,pH Calibration Value (4),pH Calibration Value (4) Code,pH Calibration Value (4) Units,pH Calibration Value (7),pH Calibration Value (7) Code,pH Calibration Value (7) Units,pH Post-Sample Check (10),pH Post-Sample Check (10) Code,pH Post-Sample Check (10) Units,pH Post-Sample Check (4),pH Post-Sample Check (4) Code,pH Post-Sample Check (4) Units,pH Post-Sample Check (7),pH Post-Sample Check (7) Code,pH Post-Sample Check (7) Units,pH Post-Sample Temperature,pH Post-Sample Temperature Code,pH Post-Sample Temperature Units,Salinity/TDS/Conductivity Probe Calibration Standard Value,Salinity/TDS/Conductivity Probe Calibration Standard Value Code,Salinity/TDS/Conductivity Probe Calibration Standard Value Units,Cloud Cover,Other Comments,Other Conditions,Rainfall Within 24 Hours,Rainfall Within 48 Hours,Rainfall,Sea State,Stream Flow,Tidal Stage,Water Color Description,Water Color,Water Odor Description,Water Odor,Water Surfaces,Weather Conditions Day Before Yesterday,Weather Conditions Today,Weather Conditions Yesterday,Wind Direction,Wind Speed,Comments
0,01/02/2020,11:30:00,WL,PVMN.WL,37.30001,-76.53142,MPMN,1,NaN,NaN,NaN,NaN,NaN,NaN,9.4,C.DO.1,mg/L,18.8,C.PH.1,deg C,10.01,C.PH.4,SU,NaN,NaN,NaN,7.0,C.PH.3,SU,10.02,C.PH.7,SU,NaN,NaN,NaN,6.53,C.PH.6,SU,19.6,C.PH.8,deg C,NaN,NaN,NaN,NaN,NaN,NaN,0,0,5.8,NaN,NaN,Incoming (Flood),green/brown,Normal,NaN,NaN,Waves,NaN,Sunny,NaN,NaN,NaN,NaN
1,01/02/2020,12:30:00,WH,PVMN.WH,37.40308,-76.48952,MPMN,1,NaN,NaN,NaN,NaN,NaN,NaN,9.4,C.DO.1,mg/L,18.8,C.PH.1,deg C,10.01,C.PH.4,SU,NaN,NaN,NaN,7.0,C.PH.3,SU,10.02,C.PH.7,SU,NaN,NaN,NaN,6.53,C.PH.6,SU,19.6,C.PH.8,deg C,NaN,NaN,NaN,NaN,NaN,NaN,0,0,5.8,NaN,NaN,Incoming (Flood),green/brown,Normal,NaN,NaN,Waves,NaN,Partly cloudy,NaN,NaN,NaN,pH 7 post-sample check out of range
2,01/02/2020,14:00:00,MOURUN1,ACB.MOURUN1,37.87400,-79.37900,RWM,1,22.0,C.ECOLI.1,deg C,49.0,C.ECOLI.2,hours,9.6,C.DO.1,mg/L,19.7,C.PH.1,deg C,10.10,C.PH.4,SU,NaN,NaN,NaN,7.0,C.PH.3,SU,10.10,C.PH.7,SU,NaN,NaN,NaN,7.00,C.PH.6,SU,17.0,C.PH.8,deg C,NaN,NaN,NaN,NaN,NaN,NaN,0,0,9.5,NaN,Normal,NaN,clear,Normal,NaN,NaN,Ripple,NaN,Overcast,NaN,NaN,NaN,NaN
3,01/03/2020,09:00:00,BR1,ACB.BR1,37.98240,-79.55068,RWM,1,23.0,C.ECOLI.1,deg C,48.0,C.ECOLI.2,hours,9.8,C.DO.1,mg/L,19.7,C.PH.1,deg C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.6,4.6,16.8,NaN,Normal,NaN,Clear,Normal,NaN,NaN,Calm,NaN,Overcast,NaN,NaN,NaN,The pH meter could not be calibrated to within...
4,01/03/2020,09:00:00,BR1,ACB.BR1,37.98240,-79.55068,RWM,2,NaN,NaN,NaN,NaN,NaN,NaN,9.4,C.DO.1,mg/L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.6,4.6,16.8,NaN,Normal,NaN,Clear,Normal,NaN,NaN,Calm,NaN,Overcast,NaN,NaN,NaN,The pH meter could not be calibrated to within...

In [7]:
calibration_samples.shape

(478, 64)

In [9]:
calibration_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 64 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Date                                                              478 non-null    object
 1   Time                                                              478 non-null    object
 2   StationName                                                       478 non-null    object
 3   StationCode                                                       478 non-null    object
 4   Latitude                                                          478 non-null    float64
 5   Longitude                                                         478 non-null    float64
 6   GroupCode                                                         478 non-null    object
 7   SampleId                                                          478 non-null    int64
 8   Bacteria Incubation Temperature                                   295 non-null    float64
 9   Bacteria Incubation Temperature Code                              295 non-null    object
 10  Bacteria Incubation Temperature Units                             295 non-null    object
 11  Bacteria Incubation Time                                          295 non-null    float64
 12  Bacteria Incubation Time Code                                     295 non-null    object
 13  Bacteria Incubation Time Units                                    295 non-null    object
 14  Dissolved Oxygen Sodium Thiosulfate Check                         82 non-null     float64
 15  Dissolved Oxygen Sodium Thiosulfate Check Code                    82 non-null     object
 16  Dissolved Oxygen Sodium Thiosulfate Check Units                   82 non-null     object
 17  pH Calibration Temperature                                        78 non-null     float64
 18  pH Calibration Temperature Code                                   78 non-null     object
 19  pH Calibration Temperature Units                                  78 non-null     object
 20  pH Calibration Value (10)                                         48 non-null     float64
 21  pH Calibration Value (10) Code                                    48 non-null     object
 22  pH Calibration Value (10) Units                                   48 non-null     object
 23  pH Calibration Value (4)                                          37 non-null     float64
 24  pH Calibration Value (4) Code                                     37 non-null     object
 25  pH Calibration Value (4) Units                                    37 non-null     object
 26  pH Calibration Value (7)                                          78 non-null     float64
 27  pH Calibration Value (7) Code                                     78 non-null     object
 28  pH Calibration Value (7) Units                                    78 non-null     object
 29  pH Post-Sample Check (10)                                         48 non-null     float64
 30  pH Post-Sample Check (10) Code                                    48 non-null     object
 31  pH Post-Sample Check (10) Units                                   48 non-null     object
 32  pH Post-Sample Check (4)                                          35 non-null     float64
 33  pH Post-Sample Check (4) Code                                     35 non-null     object
 34  pH Post-Sample Check (4) Units                                    35 non-null     object
 35  pH Post-Sample Check (7)                                          75 non-null     float64
 36  pH Post-Sample Check (7) Code                                     75 non-null     object
 37  pH Post-Sample Check (7) Units                                    75 non-null     object
 38  pH Post-Sample Temperature                                        74 non-null     float64
 39  pH Post-Sample Temperature Code                                   74 non-null     object
 40  pH Post-Sample Temperature Units                                  74 non-null     object
 41  Salinity/TDS/Conductivity Probe Calibration Standard Value        135 non-null    float64
 42  Salinity/TDS/Conductivity Probe Calibration Standard Value Code   135 non-null    object
 43  Salinity/TDS/Conductivity Probe Calibration Standard Value Units  135 non-null    object
 44  Cloud Cover                                                       34 non-null     object
 45  Other Comments                                                    62 non-null     object
 46  Other Conditions                                                  43 non-null     object
 47  Rainfall Within 24 Hours                                          167 non-null    object
 48  Rainfall Within 48 Hours                                          170 non-null    object
 49  Rainfall                                                          162 non-null    object
 50  Sea State                                                         8 non-null      object
 51  Stream Flow                                                       271 non-null    object
 52  Tidal Stage                                                       47 non-null     object
 53  Water Color Description                                           264 non-null    object
 54  Water Color                                                       278 non-null    object
 55  Water Odor Description                                            24 non-null     object
 56  Water Odor                                                        58 non-null     object
 57  Water Surfaces                                                    122 non-null    object
 58  Weather Conditions Day Before Yesterday                           20 non-null     object
 59  Weather Conditions Today                                          278 non-null    object
 60  Weather Conditions Yesterday                                      171 non-null    object
 61  Wind Direction                                                    2 non-null      object
 62  Wind Speed                                                        6 non-null      object
 63  Comments                                                          169 non-null    object
dtypes: float64(14), int64(1), object(49)
memory usage: 239.1+ KB

In [10]:
data.describe()

,Latitude,Longitude,SampleId,Bacteria Incubation Temperature,Bacteria Incubation Time,Dissolved Oxygen Sodium Thiosulfate Check,pH Calibration Temperature,pH Calibration Value (10),pH Calibration Value (4),pH Calibration Value (7),pH Post-Sample Check (10),pH Post-Sample Check (4),pH Post-Sample Check (7),pH Post-Sample Temperature,Salinity/TDS/Conductivity Probe Calibration Standard Value
count,478.000000,478.000000,478.000000,295.000000,295.000000,82.000000,78.000000,48.000000,37.000000,78.000000,48.000000,35.000000,75.000000,74.000000,135.000000
mean,38.842420,-77.453018,1.152720,32.095864,30.979661,9.712195,19.311154,10.016458,4.022432,7.010256,10.076667,4.160286,6.970667,18.389189,733.740741
std,1.063372,0.686891,0.360094,7.546561,13.781813,0.227921,3.133732,0.024796,0.046152,0.039443,0.074329,0.718395,0.522205,3.021819,666.802897
min,36.904440,-79.550680,1.000000,12.400000,20.000000,9.400000,13.100000,9.990000,3.910000,6.950000,9.960000,3.360000,3.930000,6.800000,84.000000
25%,37.875064,-77.907000,1.000000,23.000000,22.000000,9.525000,17.425000,10.010000,4.010000,7.000000,10.020000,3.970000,7.010000,16.900000,84.000000
50%,38.831000,-77.577700,1.000000,35.600000,24.000000,9.700000,19.250000,10.010000,4.010000,7.000000,10.070000,4.020000,7.050000,19.000000,84.000000
75%,39.953416,-76.927658,1.000000,36.000000,45.000000,10.000000,20.800000,10.010000,4.010000,7.000000,10.110000,4.060000,7.105000,20.275000,1413.000000
max,41.300060,-76.069280,2.000000,99.000000,114.000000,10.200000,28.000000,10.110000,4.160000,7.200000,10.240000,6.990000,7.400000,23.700000,1413.000000

In [3]:
cmc_stations = pd.read_csv('/Users/bibor/Hack_the_Bay/Data/cmcStations.csv')
cmc_stations.head()

,Code,Name,NameLong,Lat,Long,Cbseg,WaterBody,Description,Datum,CityCounty,Tidal,Comments,Fips,Huc12,State,Huc6Name
0,MDE.0102003,0102003,NaN,39.303056,-76.323056,NaN,Saltpeter Creek-Gunpowder River,NaN,NAD83,Baltimore County,True,NaN,24005,20600030602,Maryland,Upper Chesapeake
1,MDE.0102016,0102016,NaN,39.241667,-76.397778,NaN,Back River-Hawk Cove-Chesapeake Bay,NaN,NAD83,Baltimore County,True,NaN,24005,20600030703,Maryland,Upper Chesapeake
2,MDE.0102017,0102017,NaN,39.258610,-76.443330,NaN,Back River-Hawk Cove-Chesapeake Bay,NaN,NAD83,Baltimore County,True,NaN,24005,20600030703,Maryland,Upper Chesapeake
3,MDE.0102018,0102018,NaN,39.290000,-76.467222,NaN,Back River-Hawk Cove-Chesapeake Bay,NaN,NAD83,Baltimore County,True,NaN,24005,20600030703,Maryland,Upper Chesapeake
4,MDE.0103008,0103008,NaN,39.476931,-75.943156,NaN,Lower Elk River,NaN,NAD83,Cecil County,True,NaN,24015,20600020207,Maryland,Upper Chesapeake

In [4]:
cmc_stations.tail()

,Code,Name,NameLong,Lat,Long,Cbseg,WaterBody,Description,Datum,CityCounty,Tidal,Comments,Fips,Huc12,State,Huc6Name
358,CCSTA.YELBRECRE13.63,YELBRECRE13.63,Yellow Breeches Creek,40.172452,-76.913721,NaN,Lower Yellow Breeches Creek,Lower Allen Community Park,NAD83,Cumberland County,False,NaN,42041,20503050505,Pennsylvania,NaN
359,CCSTA.YELBRECRE17.65,YELBRECRE17.65,Yellow Breeches Creek,40.164180,-76.976213,NaN,Lower Yellow Breeches Creek,Simpson Park,NAD83,Cumberland County,False,NaN,42041,20503050505,Pennsylvania,NaN
360,CCSTA.YELBRECRE36.90,YELBRECRE36.90,Yellow Breeches Creek,40.123470,-77.221977,NaN,Upper Yellow Breeches Creek,Barnitz Mill,NAD83,Cumberland County,False,NaN,42041,20503050502,Pennsylvania,NaN
361,ACB.YORRIV21.5,YORRIV21.5,York River,37.406690,-76.659930,NaN,Skimino Creek-York River,Could potentially monitor at the end of the do...,NAD83,Gloucester County,True,Jack and Carol Kauffman,51073,20801070104,Virginia,NaN
362,ACB.YORRIV7.2,YORRIV7.2,Gloucester Point Beach/Boat Landing,37.245207,-76.502600,NaN,Sarah Creek-York River,near historic site 16. will monitor from boat ...,NAD83,Gloucester County,True,Joan Haury and Michelle Phillips,51073,20801070204,Virginia,NaN

In [5]:
cmc_stations.shape

(363, 16)

In [17]:
print('Number of missing values:', cmc_stations['Huc6Name'].isnull().sum())
cmc_stations['Huc6Name'].value_counts()

Number of missing values: 176

James                61
Lower Chesapeake     54
Upper Chesapeake     41
Potomac              24
Lower Susquehanna     7
Name: Huc6Name, dtype: int64

In [19]:
water_samples = pd.read_csv('/Users/bibor/Hack_the_Bay/Data/cmcWaterQualitySamples.csv', low_memory=False)
water_samples.head()

,Date,Time,StationName,StationCode,Latitude,Longitude,GroupCode,SampleId,SampleDepth,Air temperature (AT.1),Air temperature (AT.1) Code,Air temperature (AT.1) Problem,Air temperature (AT.1) Qualifier,Air temperature (AT.1) Tier,Air temperature (AT.1) Units,Air temperature (AT.10),Air temperature (AT.10) Code,Air temperature (AT.10) Problem,Air temperature (AT.10) Qualifier,Air temperature (AT.10) Tier,Air temperature (AT.10) Units,Air temperature (AT.2),Air temperature (AT.2) Code,Air temperature (AT.2) Problem,Air temperature (AT.2) Qualifier,Air temperature (AT.2) Tier,Air temperature (AT.2) Units,Air temperature (AT.3),Air temperature (AT.3) Code,Air temperature (AT.3) Problem,Air temperature (AT.3) Qualifier,Air temperature (AT.3) Tier,Air temperature (AT.3) Units,Air temperature (AT.5),Air temperature (AT.5) Code,Air temperature (AT.5) Problem,Air temperature (AT.5) Qualifier,Air temperature (AT.5) Tier,Air temperature (AT.5) Units,Air temperature (AT.6),Air temperature (AT.6) Code,Air temperature (AT.6) Problem,Air temperature (AT.6) Qualifier,Air temperature (AT.6) Tier,Air temperature (AT.6) Units,Alkalinity (ALKY.6),Alkalinity (ALKY.6) Code,Alkalinity (ALKY.6) Problem,Alkalinity (ALKY.6) Qualifier,Alkalinity (ALKY.6) Tier,...,Water Temperature (WT.13) Code,Water Temperature (WT.13) Problem,Water Temperature (WT.13) Qualifier,Water Temperature (WT.13) Tier,Water Temperature (WT.13) Units,Water temperature (WT.2),Water temperature (WT.2) Code,Water temperature (WT.2) Problem,Water temperature (WT.2) Qualifier,Water temperature (WT.2) Tier,Water temperature (WT.2) Units,Water temperature (WT.3),Water temperature (WT.3) Code,Water temperature (WT.3) Problem,Water temperature (WT.3) Qualifier,Water temperature (WT.3) Tier,Water temperature (WT.3) Units,Water temperature (WT.4),Water temperature (WT.4) Code,Water temperature (WT.4) Problem,Water temperature (WT.4) Qualifier,Water temperature (WT.4) Tier,Water temperature (WT.4) Units,Water temperature (WT.7),Water temperature (WT.7) Code,Water temperature (WT.7) Problem,Water temperature (WT.7) Qualifier,Water temperature (WT.7) Tier,Water temperature (WT.7) Units,Cloud Cover,Other Comments,Other Conditions,Rainfall Within 24 Hours,Rainfall Within 48 Hours,Rainfall,Sea State,Stream Flow,Tidal Stage,Water Color Description,Water Color,Water Odor Description,Water Odor,Water Surfaces,Weather Conditions Day Before Yesterday,Weather Conditions Today,Weather Conditions Yesterday,Wind Direction,Wind Speed,ModifiedDate,Comments
0,01/02/2020,07:24:00,WR1,PVMN.WR1,37.123720,-76.568670,PVMN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,AT.2,NaN,NaN,2.0,deg C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,25.4,NaN,Normal,Low,NaN,Normal,NaN,NaN,Ripple,NaN,Sunny,NaN,NaN,NaN,2020-04-14T17:32:13.257,NaN
1,01/02/2020,07:24:00,WR1,PVMN.WR1,37.123720,-76.568670,PVMN,1,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,WT.2,NaN,NaN,2.0,deg C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,25.4,NaN,Normal,Low,NaN,Normal,NaN,NaN,Ripple,NaN,Sunny,NaN,NaN,NaN,2020-04-14T17:32:13.257,NaN
2,01/02/2020,07:33:00,LC1,PVMN.LC1,37.119950,-76.550540,PVMN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,AT.2,NaN,NaN,2.0,deg C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,25.4,NaN,Normal,Low,NaN,Normal,NaN,NaN,Calm,NaN,Sunny,NaN,NaN,NaN,2020-04-14T17:34:16.7,NaN
3,01/02/2020,07:33:00,LC1,PVMN.LC1,37.119950,-76.550540,PVMN,1,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,WT.2,NaN,NaN,2.0,deg C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,25.4,NaN,Normal,Low,NaN,Normal,NaN,NaN,Calm,NaN,Sunny,NaN,NaN,NaN,2020-04-14T17:34:16.7,NaN
4,01/02/2020,11:25:00,APP,PVMN.APP,37.042988,-76.366555,PVMN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.3,AT.2,NaN,NaN,2.0,deg C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,Outgoing (ebb),green,Normal,NaN,NaN,Ripple,NaN,Sunny,NaN,NaN,NaN,2020-01-15T22:08:30.677,NaN

In [20]:
water_samples.shape

(2179, 378)

In [9]:
cbp_benthic = pd.read_csv('/Users/bibor/Hack_the_Bay/Data/CBP_Benthic.csv',)
cbp_benthic.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Active Construction,Agency,Algae Color,Algae Located,Aquatic Veg/Decaying Matter,Area 1 Sampled,Area 2 Sampled,Area 3 Sampled,Area 4 Sampled,Barriers To Fish Movement,Benthic Classification Code,Benthic Classification Name,BioMethod,Bottom Type,Channel Width,Collection Time (Net 1),Collection Time (Net 2),Collection Time (Net 3),Collection Time (Net 4),Comments,Count,CountyCity,Cropland,Database,Date,DateTime,Define Other Bank Composition,Define Other Land Use,Define Other Organism,Describe the Amount and Type of Litter,Discharge Pipes,EcoRegionLevel3,EcoRegionLevel3Description,EventId,FIPS,Fields,Fish Water Quality Indicators,Forest,GMethod,GroupName,HUC12,HUC12Description,HUC8,HUC8Description,Housing Development,Indicate Current and Potential Threats,Latitude,LifeStageCode,Livestock Pasture,Logging,Longitude,Mining,Number of Discharge Pipes,Number of Squirts,Odor,Oil and Gas Drilling,Other Land Use,Percent Algae,Percent Bare Soil,Percent Boulders,Percent Cobbles,Percent Grass,Percent Gravel,Percent Other,Percent Rocks,Percent Sand,Percent Shrubs,Percent Silt,Percent Trees,Precipitation,ReportingUnits,ReportingValue,SampleType,Sanitary Landfill,Silt/Sand/Gravel,Snags/Logs,Snags/Logs Jabs,Stability of Stream,State,Station,StationCode,StationName,Stream Bed Deposit,Stream Channel Erosion,Stream Channel Shade,Stream Flow,Surface Water Appearance,TSN,Time,Trash Dump,Type of Cropland,Type of Mining,Type of Pipes,Urban Uses,Vegetated,Vegetated Jabs,Weather Conditions,Weather Last 72 Hours,Point,HUC12_,HUCNAME_,FIPS_,COUNTY_,STATE_
0,41433,41433,0,NaN,SRBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chironomidae,BE110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COUNT,Lancaster,NaN,CBP,7/12/2005,NaN,NaN,NaN,NaN,NaN,NaN,64.0,Northern Piedmont,90821.0,42071.0,NaN,NaN,NaN,94.0,NaN,2.050306e+10,Little Chickies Creek,2050306.0,Lower Susquehanna,NaN,NaN,40.07806,89.0,NaN,NaN,-76.51083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PER SAMPLE,16.0,CS,NaN,NaN,NaN,NaN,NaN,PA,LCHQ000.4-4076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127917.0,07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-76.51083 40.07806),20503060802,Little Chiques Creek,42071,Lancaster County,PA
1,41434,41434,1,NaN,SRBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gammaridae,BE110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COUNT,Lancaster,NaN,CBP,7/12/2005,NaN,NaN,NaN,NaN,NaN,NaN,64.0,Northern Piedmont,90821.0,42071.0,NaN,NaN,NaN,94.0,NaN,2.050306e+10,Little Chickies Creek,2050306.0,Lower Susquehanna,NaN,NaN,40.07806,89.0,NaN,NaN,-76.51083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PER SAMPLE,106.0,CS,NaN,NaN,NaN,NaN,NaN,PA,LCHQ000.4-4076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93745.0,07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-76.51083 40.07806),20503060802,Little Chiques Creek,42071,Lancaster County,PA
2,41435,41435,2,NaN,SRBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heptageniidae,BE110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COUNT,Lancaster,NaN,CBP,7/12/2005,NaN,NaN,NaN,NaN,NaN,NaN,64.0,Northern Piedmont,90821.0,42071.0,NaN,NaN,NaN,94.0,NaN,2.050306e+10,Little Chickies Creek,2050306.0,Lower Susquehanna,NaN,NaN,40.07806,89.0,NaN,NaN,-76.51083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PER SAMPLE,1.0,CS,NaN,NaN,NaN,NaN,NaN,PA,LCHQ000.4-4076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100504.0,07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-76.51083 40.07806),20503060802,Little Chiques Creek,42071,Lancaster County,PA
3,41436,41436,3,NaN,SRBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Athericidae,BE110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COUNT,Lancaster,NaN,CBP,7/12/2005,NaN,NaN,NaN,NaN,NaN,NaN,64.0,Northern Piedmont,90821.0,42071.0,NaN,NaN,NaN,94.0,NaN,2.050306e+10,Little Chickies Creek,2050306.0,Lower Susquehanna,NaN,NaN,40.07806,89.0,NaN,NaN,-76.51083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PER SAMPLE,1.0,CS,NaN,NaN,NaN,NaN,NaN,PA,LCHQ000.4-4076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130928.0,07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-76.51083 40.07806),20503060802,Little Chiques Creek,42071,Lancaster County,PA
4,41437,41437,4,NaN,SRBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hydropsychidae,BE110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COUNT,Lancaster,NaN,CBP,7/12/2005,NaN,NaN,NaN,NaN,NaN,NaN,64.0,Northern Piedmont,90821.0,42071.0,NaN,NaN,NaN,94.0,NaN,2.050306e+10,Little Chickies Creek,2050306.0,Lower Susquehanna,NaN,NaN,40.07806,89.0,NaN,NaN,-76.51083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PER SAMPLE,73.0,CS,NaN,NaN,NaN,NaN,NaN,PA,LCHQ000.4-4076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115398.0,07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-76.51083 40.07806),20503060802,Little Chiques Creek,42071,Lancaster County,PA

In [44]:
# drop columns where all values are missing

for column in cbp_benthic.columns:
    if cbp_benthic[column].isna().sum() == cbp_benthic.shape[0]:
        cbp_benthic.drop(column, axis=1, inplace=True)

In [49]:
# drop Unnamed:0.1 and Unnamed: 0.1.1 columns

cbp_benthic.drop(['Unnamed: 0.1', 'Unnamed: 0.1.1'], axis=1, inplace=True)

In [50]:
cbp_benthic.shape

(129671, 33)

In [51]:
cbp_benthic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129671 entries, 0 to 129670
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   129671 non-null  int64
 1   Agency                       129671 non-null  object
 2   Benthic Classification Name  129671 non-null  object
 3   BioMethod                    129671 non-null  object
 4   Count                        129671 non-null  object
 5   CountyCity                   129671 non-null  object
 6   Database                     129671 non-null  object
 7   Date                         129671 non-null  object
 8   EcoRegionLevel3              129671 non-null  float64
 9   EcoRegionLevel3Description   129671 non-null  object
 10  EventId                      129671 non-null  float64
 11  FIPS                         129671 non-null  float64
 12  GMethod                      129671 non-null  float64
 13  HUC12                        129671 non-null  float64
 14  HUC12Description             129671 non-null  object
 15  HUC8                         129671 non-null  float64
 16  HUC8Description              129671 non-null  object
 17  Latitude                     129671 non-null  float64
 18  LifeStageCode                129671 non-null  float64
 19  Longitude                    129671 non-null  float64
 20  ReportingUnits               129671 non-null  object
 21  ReportingValue               129671 non-null  float64
 22  SampleType                   129671 non-null  object
 23  State                        129671 non-null  object
 24  Station                      129671 non-null  object
 25  TSN                          129671 non-null  float64
 26  Time                         129671 non-null  object
 27  Point                        129671 non-null  object
 28  HUC12_                       129671 non-null  int64
 29  HUCNAME_                     129671 non-null  object
 30  FIPS_                        129671 non-null  int64
 31  COUNTY_                      129671 non-null  object
 32  STATE_                       129671 non-null  object
dtypes: float64(11), int64(3), object(19)
memory usage: 32.6+ MB

In [52]:
cbp_benthic.describe()

,Unnamed: 0,EcoRegionLevel3,EventId,FIPS,GMethod,HUC12,HUC8,Latitude,LifeStageCode,Longitude,ReportingValue,TSN,HUC12_,FIPS_
count,129671.000000,129671.000000,129671.000000,129671.000000,129671.000000,1.296710e+05,1.296710e+05,129671.000000,129671.000000,129671.000000,129671.000000,129671.000000,1.296710e+05,129671.000000
mean,106268.000000,62.979888,84355.777668,38393.307177,66.581865,2.062488e+10,2.062487e+06,39.688972,89.405881,-77.382411,11.583153,123504.959343,2.062864e+10,38393.484272
std,37432.937715,5.562703,6309.197167,11800.604306,15.202199,1.115609e+08,1.115609e+04,1.329250,7.151525,0.967124,121.219259,86963.169157,1.113532e+08,11800.735658
min,41433.000000,45.000000,74157.000000,10001.000000,57.000000,2.050101e+10,2.050101e+06,36.778390,21.000000,-80.328940,1.000000,0.000000,2.050101e+10,10001.000000
25%,73850.500000,62.000000,78908.000000,24027.000000,57.000000,2.050206e+10,2.050206e+06,38.895230,89.000000,-78.004300,1.000000,101233.000000,2.050206e+10,24027.000000
50%,106268.000000,64.000000,84637.000000,42069.000000,57.000000,2.060005e+10,2.060005e+06,39.400720,89.000000,-77.264150,2.000000,114177.000000,2.060006e+10,42069.000000
75%,138685.500000,67.000000,89373.000000,51029.000000,87.000000,2.070009e+10,2.070009e+06,40.956940,89.000000,-76.728260,7.000000,126640.000000,2.070009e+10,51029.000000
max,171103.000000,83.000000,95779.000000,54071.000000,94.000000,2.080208e+10,2.080208e+06,42.884170,248.000000,-74.753710,19071.000000,776981.000000,2.080208e+10,54071.000000

**Variables of interest:** Benthic Classification Name (organism), EventId, ReportingValue

In [101]:
#pd.set_option('display.max_rows', 1050)

In [102]:
#cbp_benthic['Benthic Classification Name'].value_counts()

In [29]:
# create for loop to find ecoli in 'Benthic Classification Name'

mask = cbp_benthic['Benthic Classification Name'].str.lower().str.contains('ecoli')
cbp_benthic.loc[mask]

# no ecoli in this column

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, Active Construction, Agency, Algae Color, Algae Located, Aquatic Veg/Decaying Matter, Area 1 Sampled, Area 2 Sampled, Area 3 Sampled, Area 4 Sampled, Barriers To Fish Movement, Benthic Classification Code, Benthic Classification Name, BioMethod, Bottom Type, Channel Width, Collection Time (Net 1), Collection Time (Net 2), Collection Time (Net 3), Collection Time (Net 4), Comments, Count, CountyCity, Cropland, Database, Date, DateTime, Define Other Bank Composition, Define Other Land Use, Define Other Organism, Describe the Amount and Type of Litter, Discharge Pipes, EcoRegionLevel3, EcoRegionLevel3Description, EventId, FIPS, Fields, Fish Water Quality Indicators, Forest, GMethod, GroupName, HUC12, HUC12Description, HUC8, HUC8Description, Housing Development, Indicate Current and Potential Threats, Latitude, LifeStageCode, Livestock Pasture, Logging, Longitude, Mining, Number of Discharge Pipes, Number of Squirts, Odor, Oil and Gas Drilling, Other Land Use, Percent Algae, Percent Bare Soil, Percent Boulders, Percent Cobbles, Percent Grass, Percent Gravel, Percent Other, Percent Rocks, Percent Sand, Percent Shrubs, Percent Silt, Percent Trees, Precipitation, ReportingUnits, ReportingValue, SampleType, Sanitary Landfill, Silt/Sand/Gravel, Snags/Logs, Snags/Logs Jabs, Stability of Stream, State, Station, StationCode, StationName, Stream Bed Deposit, Stream Channel Erosion, Stream Channel Shade, Stream Flow, Surface Water Appearance, TSN, Time, Trash Dump, Type of Cropland, Type of Mining, Type of Pipes, Urban Uses, Vegetated, Vegetated Jabs, Weather Conditions, ...]
Index: []

In [60]:
cbp_benthic.sort_values(by='EventId')[['EventId', 'Benthic Classification Name', 'ReportingValue']]

        EventId Benthic Classification Name  ReportingValue
9351    74157.0                    Sperchon             2.0
9376    74157.0                   Crangonyx             1.0
9373    74157.0                 Hydropsyche             2.0
9370    74157.0                   Clinocera             3.0
9368    74157.0                 Oligochaeta            16.0
...         ...                         ...             ...
123230  95779.0                   Probezzia             3.0
123229  95779.0                Ceratopsyche            10.0
123228  95779.0                     Epeorus             9.0
123237  95779.0                     Leuctra            11.0
123232  95779.0                 Prosimulium             2.0

[129671 rows x 3 columns]

#### CMC Benthic Data

In [106]:
cmc_benthic = pd.read_excel(
    '/Users/bibor/Hack_the_Bay/Data/CMC_Benthic_Data.xlsx',
    sheet_name=0,
    engine='xlrd')

In [107]:
cmc_benthic.head()

,EVENT_ID,SAMPLE_NUMBER,STATION_ID,ICPRB_BIOREGION_ID,STRAHLER_STREAM_ORDER,G_Method,SAMPLE_DATE,MONTH,Latitude,Longitude,FINAL_ID,REPORTING_VALUE,TSN_FINAL,TAXON_LEVEL,PHYLUM,SUBPHYLUM,CLASS,SUBCLASS,ORDER,SUBORDER,FAMILY,SUBFAMILY,TRIBE,GENUS,SPECIES,ASPT,BIBI_TV,BIBI_FFG,BIBI_HABIT
0,956,1,"ANS.Site 23, Pinehurst Branch",LNP,NaN,93,2016-01-09 00:00:00,1,38.9719,-77.044167,PLANARIIDAE,3,54502,FAM,PLATYHELMINTHES,RHABDITOPHORA,TREPAXONEMATA,0,NEOOPHORA,0,PLANARIIDAE,0,0,0,0,5,8,CG,SP
1,1570,1,"ANS.Site 38, Northwest Branch at Kemp Mill Road",LNP,NaN,93,2016-01-09 00:00:00,1,39.0613,-77.023961,PLANARIIDAE,1,54502,FAM,PLATYHELMINTHES,RHABDITOPHORA,TREPAXONEMATA,0,NEOOPHORA,0,PLANARIIDAE,0,0,0,0,5,8,CG,SP
2,964,1,"ANS.Site 23, Pinehurst Branch",LNP,NaN,93,2018-01-20 00:00:00,1,38.9719,-77.044167,PLANARIIDAE,1,54502,FAM,PLATYHELMINTHES,RHABDITOPHORA,TREPAXONEMATA,0,NEOOPHORA,0,PLANARIIDAE,0,0,0,0,5,8,CG,SP
3,1694,1,"ANS.Site 45, Little Falls Branch",LNP,NaN,93,2018-01-20 00:00:00,1,38.9562,-77.108668,PLANARIIDAE,1,54502,FAM,PLATYHELMINTHES,RHABDITOPHORA,TREPAXONEMATA,0,NEOOPHORA,0,PLANARIIDAE,0,0,0,0,5,8,CG,SP
4,1231,1,"ANS.Site 31, Hazen Run",LNP,NaN,93,2008-01-18 00:00:00,1,38.9383,-77.052642,PLANARIIDAE,2,54502,FAM,PLATYHELMINTHES,RHABDITOPHORA,TREPAXONEMATA,0,NEOOPHORA,0,PLANARIIDAE,0,0,0,0,5,8,CG,SP

In [108]:
cmc_benthic.tail()

,EVENT_ID,SAMPLE_NUMBER,STATION_ID,ICPRB_BIOREGION_ID,STRAHLER_STREAM_ORDER,G_Method,SAMPLE_DATE,MONTH,Latitude,Longitude,FINAL_ID,REPORTING_VALUE,TSN_FINAL,TAXON_LEVEL,PHYLUM,SUBPHYLUM,CLASS,SUBCLASS,ORDER,SUBORDER,FAMILY,SUBFAMILY,TRIBE,GENUS,SPECIES,ASPT,BIBI_TV,BIBI_FFG,BIBI_HABIT
122577,7367,1,MSW.0799-03-2008,SEP,NaN,93,2008-04-30 00:00:00,4,Viviparidae,1.0,70304,FAM,MOLLUSCA,0,GASTROPODA,PROSOBRANCHIA,ARCHITAENIOGLOSSA,0,VIVIPARIDAE,0,0,0,0,6,5,SC,CB,NaN,NaN
122578,7841,1,MSW.0874-01-2008,SEP,NaN,93,2008-04-30 00:00:00,4,Viviparidae,1.0,70304,FAM,MOLLUSCA,0,GASTROPODA,PROSOBRANCHIA,ARCHITAENIOGLOSSA,0,VIVIPARIDAE,0,0,0,0,6,5,SC,CB,NaN,NaN
122579,8045,1,MSW.0923-93-2001,SEP,NaN,93,2001-04-09 00:00:00,4,Viviparidae,1.0,70304,FAM,MOLLUSCA,0,GASTROPODA,PROSOBRANCHIA,ARCHITAENIOGLOSSA,0,VIVIPARIDAE,0,0,0,0,6,5,SC,CB,NaN,NaN
122580,9241,1,MSW.1126-01-2000,MAC,NaN,93,2000-04-09 00:00:00,4,Viviparidae,1.0,70304,FAM,MOLLUSCA,0,GASTROPODA,PROSOBRANCHIA,ARCHITAENIOGLOSSA,0,VIVIPARIDAE,0,0,0,0,6,5,SC,CB,NaN,NaN
122581,9352,1,MSW.9013-01-2001,SEP,NaN,93,00:00:00,1,Viviparidae,1.0,70304,FAM,MOLLUSCA,0,GASTROPODA,PROSOBRANCHIA,ARCHITAENIOGLOSSA,0,VIVIPARIDAE,0,0,0,0,6,5,SC,CB,NaN,NaN

**Some of the columns contain mixed/ incorrect data** Such as: 'Latitude', 'Longitude'

Where 'Latitude' a string ==> column 'Order' contains the same information as 'Latitude' ==> dropping 'Latitude' and 'Longitude' columns (information is in second sheet of xlsx file, sheet_name=1)

In [109]:
cmc_benthic.drop(['Latitude', 'Longitude', 'STRAHLER_STREAM_ORDER'], axis=1, inplace=True)

In [110]:
cmc_benthic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122582 entries, 0 to 122581
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   EVENT_ID            122582 non-null  int64
 1   SAMPLE_NUMBER       122582 non-null  int64
 2   STATION_ID          122582 non-null  object
 3   ICPRB_BIOREGION_ID  122582 non-null  object
 4   G_Method            122582 non-null  int64
 5   SAMPLE_DATE         122582 non-null  object
 6   MONTH               122582 non-null  int64
 7   FINAL_ID            122519 non-null  object
 8   REPORTING_VALUE     122519 non-null  object
 9   TSN_FINAL           122519 non-null  object
 10  TAXON_LEVEL         122519 non-null  object
 11  PHYLUM              122519 non-null  object
 12  SUBPHYLUM           122519 non-null  object
 13  CLASS               122519 non-null  object
 14  SUBCLASS            122519 non-null  object
 15  ORDER               122519 non-null  object
 16  SUBORDER            122519 non-null  object
 17  FAMILY              122519 non-null  object
 18  SUBFAMILY           122519 non-null  object
 19  TRIBE               122519 non-null  object
 20  GENUS               122519 non-null  object
 21  SPECIES             122519 non-null  object
 22  ASPT                122519 non-null  object
 23  BIBI_TV             122519 non-null  object
 24  BIBI_FFG            41353 non-null   object
 25  BIBI_HABIT          41353 non-null   object
dtypes: int64(4), object(22)
memory usage: 24.3+ MB

In [115]:
# drop rows where 'TSN_FINAL' is missing
cmc_benthic = cmc_benthic.loc[cmc_benthic['TSN_FINAL'].notna()]

In [138]:
def check_ecoli(column):
    '''function to check 
        if ecoli is among the values of a column'''
    # mask: transform value into lower case characters and look for 'ecoli' in string
    mask = cmc_benthic[column].str.lower().str.contains('ecoli', na=False)
    # return dataframe where mask is True
    return cmc_benthic.loc[mask]

In [137]:
# check all columns where data type is string
for column in cmc_benthic.columns[8:22]:
    if cmc_benthic[column].dtype != 'int64':
        print(column, 'checked')
        check_ecoli(column)

REPORTING_VALUE checked
TSN_FINAL checked
TAXON_LEVEL checked
PHYLUM checked
SUBPHYLUM checked
CLASS checked
SUBCLASS checked
ORDER checked
SUBORDER checked
FAMILY checked
SUBFAMILY checked
TRIBE checked
GENUS checked
SPECIES checked

No ecoli in cmc_benthic either.